// RESPONSIVE
$xs-bp: 361px;
$sm-bp: 575px;
$md-bp: 768px;
$lg-bp: 992px;
$xl-bp: 1200px;

// COLORS WHITE MODE
$clr-smokedwhite: #F6F5F5;
$clr-skyblue: #D3E0EA;
$clr-indigo: #1687A7;
$clr-darkblue: #276678;

// COLORS DARK MODE
$clr-darkblack: #222831;
$clr-lightblack: #393E46;
$clr-yellow: #FFD369;
$clr-white: #EEEEEE;